@model BookListViewModel

<h1>@Model.CurrentGenre</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var book in Model.Books)
    {
        <partial name="_BookCard" model="book" />
    }
</div>
