<br />
<br />
<br />
<br />
  Enter your search query:
<input id="txtBookTitle" type="text" />
<button id="searchButton">Search</button>
<br />
<br />
<table id="tblBooks" cellpadding="0" cellspacing="0">
    <tr>
        @* <th style="width: 120px"></th>
        <th style="width: 120px">Name</th>
        <th style="width: 90px">Price</th> *@
    </tr>
    <tbody></tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $("button").click(function () {
            var searchQuery = $.trim($("#txtBookTitle").val());
            $("table tbody").html("");
            $.ajax({
                type: "POST",
                url: "/api/Search",
                data: "\"" + searchQuery + "\"",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (books) {
                    var table = $("#tblBooks");
                    table.find("tr:not(:first)").remove();
                    $.each(books, function (i, book) {
                        $("tbody").append($("<tr>"));
                        appendElement = $("tbody tr").last();
                        appendElement.append($("<td>").html('<img src=' + book.coverURL + 'width=250'));
                        appendElement.append($("<td>").html('<h2><a href="/book/details/' + book.id + '" class="pie-link">' + book.title + '</a></h2>'));
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        });
    });

</script>